 body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: #58A0C6;
      color: white;
    }
    .menu {
      width: 100%;
      max-width: 320px;
      padding: 20px;
    }
    .profile {
      text-align: center;
      margin-bottom: 20px;
    }
    .profile img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .profile p {
      margin-top: 10px;
      font-weight: bold;
    }
    .menu-section {
      margin: 20px 0;
    }
    .menu-section-title {
      font-weight: bold;
      margin: 10px 0;
    }
    .menu-item {
      display: flex;
      align-items: center;
      padding: 8px 0;
      color: white;
      text-decoration: none;
    }
    .menu-item i {
      width: -8px;
      margin-right: -1px;
    }
    .menu-bottom {
      margin-top: 40px;
      text-align: center;
      font-weight: bold;
    }

    .icon-img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    .menu-item img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}
